section div p{
  color: #3f51b5;
  font-size: 12px;
  text-shadow: 2px 3px 5px grey;
  margin: 30px 0;
}

section div + p{
  color: #3f51b5;
  font-size: 12px;
  padding-bottom: 20px;
}
mat-tab-group {
  text-align: center;
}

mat-tab-group p {
  padding-top: 20px;
}

/* Styles for tab labels */
.mat-tab-label {
  min-width: 25px !important;
  padding: 5px;
  background-color: transparent;
  color: white;
}

/* Styles for the active tab label */
.mat-tab-label.mat-tab-label-active {
  min-width: 25px !important;
  padding: 5px;
  background-color: transparent;
  color: white;
}

/* Styles for the ink bar */
.mat-ink-bar {
  background-color: green;
}

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: #ffffff;
}
.mat-primary .mat-pseudo-checkbox-checked, .mat-primary .mat-pseudo-checkbox-indeterminate {
  background: #8ed66fc9;
}
