<section fxLayout="column" fxFlexAlign="stretch">
  <div fxFlexAlign="center">
  </div>
  <mat-tab-group (selectedTabChange)="selectTabChange($event)">
    <mat-tab label="Profitability">
    <mat-form-field appearance="outline">
      <mat-label>League 1</mat-label>
      <mat-select
      (selectionChange)="onLeague1Change($event)"
      [(value)]="league1Selected">
      <mat-option *ngFor="let line of leagues1" [value]="line">
          {{line}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Season 1</mat-label>
      <mat-select
      (selectionChange)="onSeason1Change($event)"
      [(value)]="season1Selected">
      <mat-option *ngFor="let season of seasons1" [value]="season">
          {{season}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Team 1</mat-label>
      <mat-select
      (selectionChange)="onTeam1Selected($event)"
      [(value)]="team1Selected">
      <mat-option *ngFor="let team of teams1" [value]="team.name">
          {{team.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Players Team 1</mat-label>
      <mat-select [formControl]="players_teams1_FC" multiple>
        <mat-option class="not-empty-select" *ngFor="let player1 of players_teams1_List" [value]="player1">{{player1.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
      <mat-label>League 2</mat-label>
      <mat-select
      (selectionChange)="onLeague2Change($event)"
      [(value)]="league2Selected">
      <mat-option *ngFor="let line of leagues2" [value]="line">
          {{line}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Season 2</mat-label>
      <mat-select
      (selectionChange)="onSeason2Change($event)"
      [(value)]="season2Selected">
      <mat-option *ngFor="let season of seasons2" [value]="season">
          {{season}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Team 2</mat-label>
      <mat-select
      [(value)]="team2Selected">
      <mat-option *ngFor="let team of teams2" [value]="team.name">
          {{team.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <br>

    <mat-form-field appearance="fill">
      <mat-label>Players Team 2</mat-label>
      <mat-select [formControl]="players_teams2_FC" multiple>
        <mat-select-trigger>
          {{players_teams2_FC.value}}<br>
        </mat-select-trigger>
        <mat-option class="not-empty-select" *ngFor="let player2 of players_teams2_List" [value]="player2">{{player2}}</mat-option>
      </mat-select>
    </mat-form-field>


    <app-profitability
     [league1]="league1Selected"
     [season1]="season1Selected"
     [team1]="team1Selected"
     [league2]="league2Selected"
     [season2]="season2Selected"
     [team2]="team2Selected">
    </app-profitability>
    <app-xgchain
    [league1]="league1Selected"
    [season1]="season1Selected"
    [team1]="team1Selected"
    [league2]="league2Selected"
    [season2]="season2Selected"
    [team2]="team2Selected"
    title='Defense'
    yAxisLabel='XGChain, Goals, Shots'
    chartId='chart-stats-defense'
    chartType='def'
    ></app-xgchain>
    <app-xgchain
    [league1]="league1Selected"
    [season1]="season1Selected"
    [team1]="team1Selected"
    [league2]="league2Selected"
    [season2]="season2Selected"
    [team2]="team2Selected"
    title='Milieu'
    yAxisLabel='XGChain, Goals, Shots'
    chartId='chart-stats-milieu'
    chartType='mil'
    ></app-xgchain>
    <app-xgchain
    [league1]="league1Selected"
    [season1]="season1Selected"
    [team1]="team1Selected"
    [league2]="league2Selected"
    [season2]="season2Selected"
    [team2]="team2Selected"
    title='Attaque'
    yAxisLabel='XGChain, Goals, Shots'
    chartId='chart-stats-attaque'
    chartType='att'
    ></app-xgchain>
    <app-xgchain
    [league1]="league1Selected"
    [season1]="season1Selected"
    [team1]="team1Selected"
    [league2]="league2Selected"
    [season2]="season2Selected"
    [team2]="team2Selected"
    title='Remplacement'
    yAxisLabel='XGChain, Goals, Shots'
    chartId='chart-stats-remplacement'
    chartType='sub'
    ></app-xgchain>


    </mat-tab>



    <mat-tab label="Label2">
       <p>Section 2</p>
      </mat-tab>
    <mat-tab label="Label 3">
       <p>Section 3</p>
      </mat-tab>
  </mat-tab-group>
</section>
