
<p style="color: white;"></p>
<button
ejs-button cssClass="e-primary"
content="Analyser"
(click)="analyser()"
>
</button>
<ejs-chart
#chart id='{{idChart}}'
[primaryXAxis]='xAxis'
[primaryYAxis]='yAxis'
[title]='chartTitle'
[legendSettings]='legend'
[zoomSettings]="zoomSettings"
[tooltip]= 'tooltipSettings'
>
<e-series-collection>

  <e-series type='Line'
  [dataSource]='datasource_team1'
  xName='date'
  yName='{{typeChart}}_xGChain'
  name='{{typeChart}}_xGChain-{{team1}}'
  [marker]='markerSettings'
  ></e-series>

  <e-series type='Line'
  [dataSource]='datasource_team1'
  xName='date'
  yName='{{typeChart}}_goals'
  name='{{typeChart}}_goals-{{team1}}'
  [marker]='markerSettings'
  ></e-series>

  <e-series type='Line'
  [dataSource]='datasource_team1'
  xName='date'
  yName='{{typeChart}}_shots'
  name='{{typeChart}}_shots-{{team1}}'
  [marker]='markerSettings'
  ></e-series>


  <e-series type='Line'
  [dataSource]='datasource_team2'
  xName='date'
  yName='{{typeChart}}_xGChain'
  name='{{typeChart}}_xGChain-{{team2}}'
  [marker]='markerSettings'
  ></e-series>


  <e-series type='Line'
  [dataSource]='datasource_team2'
  xName='date'
  yName='{{typeChart}}_goals'
  name='{{typeChart}}_goals-{{team2}}'
  [marker]='markerSettings'
  ></e-series>

  <e-series type='Line'
  [dataSource]='datasource_team2'
  xName='date'
  yName='{{typeChart}}_shots'
  name='{{typeChart}}_shots-{{team2}}'
  [marker]='markerSettings'
  ></e-series>

</e-series-collection>
</ejs-chart>
