<p style="color: white;"></p>
<button
ejs-button cssClass="e-primary"
content="Analyser"
(click)="analyser()"
>
</button>
<ejs-chart
#chart id='chartcontainer'
[primaryXAxis]='xAxis'
[primaryYAxis]='yAxis'
[title]='chartTitle'
[legendSettings]='legend'
[zoomSettings]="zoomSettings"
[tooltip]= 'tooltipSettings'
>
<e-series-collection>
  <e-series type='Line'
  [dataSource]='datasource_team1'
  xName='date'
  yName='portfolio'
  name='{{team1}}'
  [marker]='markerSettings'
  ></e-series>
  <e-series type='Line'
  [dataSource]='datasource_team2'
  xName='date'
  yName='portfolio'
  name='{{team2}}'
  [marker]='markerSettings'
  ></e-series>

</e-series-collection>
</ejs-chart>
